@model IEnumerable<InterSolarCAD_Core.Models.Admin.Entity.TeamMember>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <p>
            <a class="btn btn-w-m btn-outline btn-success" asp-action="Create">Create new</a>
        </p>

        <div class="panel panel-primary" style="padding: 0;">
            <div class="panel-heading">
                <h3 class="text-uppercase">
                    Staff
                </h3>
            </div>
            <div class="panel-body">
                <div class="ibox-content ibox-content" id="ibox-content">

                    <div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ProfilePicture)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Position)
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="@item.ProfilePicture" style="max-height:150px"/>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Position)
                                        </td>
                                        <td style="width:10%">
                                            <a asp-action="Edit" class="btn btn-default btn-rounded btn-outline" asp-route-id="@item.Id">Edit</a>
                                        </td>
                                        <td style="width:10%">
                                            <a asp-action="Delete" class="btn btn-danger btn-rounded btn-outline" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>